{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static '/fontawesome.css' %}" >
    <link rel="stylesheet" href="{% static '/style.css' %}" >
</head>
<body>
{% include 'cricket/nav.html' %}
<div class="container-fluid" id="wrapper">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4" id="content">
            <h2>PLAYER DETAILS</h2>

            <p>{{ object.name }}</p>
            <p>{{ object.dateOfBirth }}</p>
            {% for team in object.type.all %}
                 <p>{{ team.name }}</p>
            {% endfor %}
            <p>{{ object.dateJoined }}</p>
            <p>{{ object.mobile }}</p>
            {% for team in object.role.all %}
                 <p>{{ team.name }}</p>
            {% endfor %}

            {% for team in object.teamsPlayedFor.all %}
                 <p>{{ team.name }}</p>
            {% endfor %}

        </div>
    </div>
</div>



</body>
</html>