<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static '/fontawesome.css' %}" >
    <link rel="stylesheet" href="{% static '/style.css' %}" >
</head>
<body>
{% include 'cricket/nav.html' %}
<div class="container-fluid" id="wrapper">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4" id="content">
            <h2>PLAYER LIST</h2>
            <ul class="list-group t20">
                {% for member in role_list %}
                    <a href="{% url 'viewmember' member.id %}">
                        <li class="list-group-item">
                            <p>{{ member.name }}</p>
                            {% for team in member.role.all %}
                                 <p>{{ team.name }}</p>
                            {% endfor %}

                            {% for team in member.teamsPlayedFor.all %}
                                 <p>{{ team.name }}</p>
                            {% endfor %}
                        </li>
                    </a>
                {%  endfor %}
            </ul>

        </div>
    </div>
</div>
</body>
</html>